<launch>
  <!-- <include file="$(find paws_description)/launch/paws_gazebo.launch"/> -->
  <include file="$(find paws_description)/launch/paws_rviz.launch"/>

  <!-- <node name="motor_control_gazebo_node" pkg="paws_motor_control" type="motor_control_gazebo.py" output="screen" /> -->
  <node name="motor_control_rviz_node" pkg="paws_motor_control" type="motor_control_rviz.py" output="screen" />
  
  <node name="inverse_kinematics_node" pkg="paws_kinematics" type="inverse_kinematics.py" output="screen" />

  <!-- <node name="dummy_foot_pose_pub_node" pkg="paws_kinematics" type="dummy_foot_pose_pub.py" output="screen" /> -->

  <node name="frame_broadcast_node" pkg="frame_broadcast" type="frame_broadcast.py" output="screen" />

</launch>